/* ===========================
   REVIEWS
=========================== */

.reviews{
    padding:100px 8%;
    background:#fff8fc;
}

.reviews-header{
    text-align:center;
    margin-bottom:60px;
}

.review-badge{
    display:inline-block;
    padding:10px 22px;
    background:#ff4f8b;
    color:#fff;
    border-radius:50px;
    font-weight:700;
    margin-bottom:20px;
}

.reviews-header h2{
    font-size:46px;
    color:#222;
    margin-bottom:15px;
}

.reviews-header p{
    color:#666;
    font-size:18px;
}

.reviews-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:30px;
}